{% extends 'admin/home.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}



{% block main %}

    <form method="post"  action="/webapps2023/admin/transaction-information/">
    </form>
    {% csrf_token %}
    {{  new_page_transaction | crispy }}
    <h1>Transactions Information </h1>
    <style>
        table tbody {
            counter-reset: rowNumber;
        }
        table tbody tr {
            counter-increment: rowNumber;
        }
        table tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
        }
    </style>
    <table  class="table text-center"  >
        <tr class="table-active">

            <thead>
            <tr>
                <th>No</th>
                <th>Sender Username</th>
                <th>Recipient Username</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Transfer Type</th>



            </tr>
            </thead>
            <tbody >
            {% for info in new_page_transaction %}
                <tr >
                    <td></td>
                    <td>{{ info.sender}}</td>
                    <td>{{ info.recipient}}</td>
                    <td>{{ info.timestamp }}</td>
                    <td>{{ info.amount }}</td>
                    <td>{{ info.transfer_type }}</td>

                </tr>
            {% endfor %}
            </tbody>
    </table>

    {% if new_page_transaction.has_other_pages %}
        <div class="page-links">

        <span class="current-page">
                Page {{ new_page_transaction.number }} of {{ new_page_transaction.paginator.num_pages }}
            </span>

        <span class="step-links">
        {% if new_page_transaction.has_previous %}
            <a href="?page={{ new_page_transaction.previous_page_number}}"> &laquo; Previous Pages </a>

        {% endif %}
        {% if new_page_transaction.has_next %}
            <a href="?page={{ new_page_transaction.next_page_number }}">Next Pages &raquo;</a>

        {% endif %}
    {% endif %}
{% endblock %}